<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bizzmark.seller.sellerwithoutlogin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WifiDirectReceive"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <!-- <activity -->
        <!-- android:name=".FAQ" -->
        <!-- android:screenOrientation="portrait" /> -->
        <activity
            android:name=".Terms"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".PrivacyPolicy"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".login.Login"
            android:screenOrientation="portrait">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".sellerapp.EarnPoints"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sellerapp.RedeemPoints"
            android:screenOrientation="portrait" />

        <service
            android:name=".wifidirect_new.service.FileTransferService"
            android:enabled="true"
            android:exported="true" />

        <!-- <activity android:name=".sellerapp.ReportActivity" /> -->
        <activity
            android:name=".sellerInfo.Seller_Basic_Information"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.ForgetPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sellerapp.ReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Reports.Last_Ten_Transactions.LastTenTrans"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wifidirect_new.Settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".My_Customers.MyCustomers"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Splash.Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".sellerapp.RedeemRewards"></activity>
    </application>

</manifest>